
<button type="button" class="sidebar-close-btn">
    <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
</button>
<div>
    <a href="/" class="sidebar-logo">
        <img src="assets/images/rev.png" alt="site logo" class="light-logo" style="width: 230px;">
        <img src="assets/images/rev.png" alt="site logo" class="dark-logo" style="width: 230px;">
        <img src="assets/images/rev.png" alt="site logo" class="logo-icon" style="width: 230px;">
    </a>
</div>
<div class="sidebar-menu-area">
    <ul class="sidebar-menu" id="sidebar-menu">
        <li class="dropdown">
            <a href="/">
                <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
                <span>Dashboard</span>
            </a>

        </li>
        <li class="sidebar-menu-group-title">Application</li>
        <li class="dropdown">
            <a href="javascript:void(0)">
                <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
                <span>Organization</span>
            </a>
            <ul class="sidebar-submenu" style="display: none;">
                <li>
                    <a href="/add_organization"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Add Organization</a>
                </li>

            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)">
                <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
                <span>Users</span>
            </a>
            <ul class="sidebar-submenu" style="display: none;">
                <li>
                    <a href="/add_uses"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Add Users</a>
                </li>


            </ul>
        </li>
        <li class="">
            <a href="#">
                <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
                <span>Setting</span>
            </a>
        </li>
        <li class="">
            <a href="#">
                <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
                <span>Plans</span>
            </a>
        </li>
    </ul>
</div>
